<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>163406488828-l8acub7sdr2d4a3e3kccf3gh7fp5r82h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163406488828-l8acub7sdr2d4a3e3kccf3gh7fp5r82h</string>
	<key>API_KEY</key>
	<string>AIzaSyD7edLQlb8jH_G5AcpuYhq7jMbI6t_GQbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>163406488828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hung.project-1</string>
	<key>PROJECT_ID</key>
	<string>icook-7b95b</string>
	<key>STORAGE_BUCKET</key>
	<string>icook-7b95b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:163406488828:ios:be42157fa84b918a</string>
	<key>DATABASE_URL</key>
	<string>https://icook-7b95b.firebaseio.com</string>
</dict>
</plist>